*{
    margin-top: 0;
    margin-left: 0;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
   
    box-shadow: 1px 2px 20px rgb(134, 133, 133);
}


#logo{  
    width: 5%;

}
.menu{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
.menu ul{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top:1rem;
}
.menu ul li{
    padding: 0.5rem;
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.menu ul li :hover{
    color: #6b7e57;
}
.locatio{
    flex: 1;
    
}
.locatio ul{
    display: flex;
    margin-left: 20%;
    align-items: center;
    margin-top: 1rem;
}
.locatio ul li{
    padding: 1rem;
    list-style: none;
    margin-right: 4rem;
}
.locatio ul li a:hover{
    color: #6b7e57;
}
.locatio ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btn1{
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-weight: bold;
    margin-right: -5rem;
}
#btn2{
    padding: 0.5rem 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: black;
    font-weight: bold;
    color: white;
}
/* sign_in */

.box_signIn{
    margin-top: -1rem;
    width: 30%;
    margin: auto;
   
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px rgb(162, 162, 162);
    border: none;
    border-radius: 1.5rem;
}
.box_signIn h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4rem;
    padding: 10px;
    
}
.box_signIn h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5rem;

    
}
input[type="text"],[type="password"]{

    margin-left: 5rem;
    padding: 20px 100px;
    
    border-radius: 10px;
    margin-top: 2rem;
    font-family: 20px;
}
    
    


input[type="checkbox"]{
    margin-left: 5rem;
    margin-top: 2rem;
    background-color: rgb(22, 43, 22);
}
.box_signIn h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6rem;
    margin-top: -1.2rem;
}
.box_signIn h3 a{
    color: rgb(41, 99, 41);
} 
.box_signIn a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6rem;
    color: rgb(41, 99, 41);
    
}
.box_signIn button{
    padding: 1rem  2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:rgb(41, 99, 41) ;
    border: none;
    border-radius: 2rem;
    margin-left: 12rem;
    margin-top: 1rem;
}
.box_signIn button{
    cursor: pointer;
}
 #eye{
    margin-left: -2rem;
 }
 #eye:hover{
    cursor: pointer;
 }
 .article{
    width: 30%;
    margin: auto;
    margin-top: 3rem;

 }
 .article h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
 .article h3{
    text-align: center;
    color: rgb(159, 163, 159);
 }
 .article p{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(159, 163, 159);
 }



 

/* Javasacript */
.valid{
    border: 2px solid rgb(11, 220, 116);
}
.invalid{
    border: 2px solid red;
}
#feror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#leror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}

#eeror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#peror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#small_eror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#big_eror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#number_eror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}
#sign_eror{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5.1rem;
    margin-top: 10px;
}


.footer{
    width: 70%;
    height: 60vh;
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
div ul li{
    list-style: none;
    margin-top: 2rem;
}
div ul li a{
    text-decoration: none;
    color: rgb(125, 123, 123);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
div ul li a:hover{
    color: black;
}
#about{
    margin-left: 3rem;
    font-size: 20px;
    
}
#carrer{
    margin-left: 2.5rem;
    font-size: 20px;
}
#socail{
    margin-left: 2.5rem;
    font-size: 20px;
}
#business{
    margin-left: 2.5rem;
    font-size: 20px;
}
#order{
    margin-left: 2.5rem;
    font-size: 20px;
}
.social{
    width: 100%;
    height: 60vh;
  
    margin-top: 2rem;
}
.social_b {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 253, 253);
    margin-left: 7rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}
.social ul{
    margin-left: 6rem;
}



