*{
    margin-top: 0;
    margin-left: 0;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
   
    box-shadow: 1px 2px 20px rgb(134, 133, 133);
}


#logo{  
    width: 7%;

}
.menu{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
.menu ul{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top:1rem;
}
.menu ul li{
    padding: 0.5rem;
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.menu ul li :hover{
    color: #6b7e57;
}
.locatio{
    flex: 1;
    
}
.locatio ul{
    display: flex;
    margin-left: 20%;
    align-items: center;
    margin-top: 1rem;
}
.locatio ul li{
    padding: 1rem;
    list-style: none;
    margin-right: 4rem;
}
.locatio ul li a:hover{
    color: #6b7e57;
}
.locatio ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btn1{
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-weight: bold;
    margin-right: -5rem;
}
#btn2{
    padding: 0.5rem 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: black;
    font-weight: bold;
    color: white;
}
/* End nav bar */
.menu_butom {
    width: 10%;
   
}
.menu_butom ul{
    margin-left: 3.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_butom ul li{
    list-style: none;
    padding: 10px;
}
.menu_butom ul li a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
   
}
/* End menu_butom */
.drink{
    margin-left: 6.5rem;
    margin-top: 2rem;
   
}
.left{
    width: 10%;
    
    margin-left: -2rem;
    
}
#h2{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   margin-left: 2.5rem;
}

.drink ul li{
    list-style: none;
    margin-top: 1.5rem;
}
.drink ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.right{
    width: 80%;
    height: 50vh;
    
    margin-top: -75.6rem;
    margin-left: 15rem;
    
}
#h3{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}
#h4{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}
section{
    width: 70%;
   display: flex;
}
.box1{
    width: 300px;
    height: 150px;
    margin-top: 2rem;

}
.box1 img{
    width:50%;
}
.box1 h2{
    font-size: 15px;
    margin-left: 10rem;
    margin-top: -5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    width: 300px;
    height: 150px;
    margin-left: 10rem;
    margin-top: 2rem;
   

}
.box2 img{
    width:50%;
}
.box2 h2{
    font-size: 15px;
    margin-left: 10rem;
    margin-top: -5rem;
    font-family: Arial, Helvetica, sans-serif;
}


.footer{
    width: 70%;
    height: 60vh;
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 150rem;
}
div ul li{
    list-style: none;
    margin-top: 2rem;
}
div ul li a{
    text-decoration: none;
    color: rgb(125, 123, 123);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
div ul li a:hover{
    color: black;
}
#about{
    margin-left: 3rem;
    font-size: 20px;
    
}
#carrer{
    margin-left: 2.5rem;
    font-size: 20px;
}
#socail{
    margin-left: 2.5rem;
    font-size: 20px;
}
#business{
    margin-left: 2.5rem;
    font-size: 20px;
}
#order{
    margin-left: 2.5rem;
    font-size: 20px;
}
.social{
    width: 100%;
    height: 60vh;
  
    margin-top: 2rem;
}
.social_b {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 253, 253);
    margin-left: 7rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}
.social ul{
    margin-left: 6rem;
}


.stor{
    width: 100%;
    height: 8vh;
    background-color: #1d3106;
    position: sticky;
    bottom: 0;
}

.txt h3{
    margin-bottom: 0rem;
    margin-left: 30rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.txt h2{
    margin-left: 30rem;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* Responsive */
@media only screen and (max-width:600px){
    header{
        width: 600px;
    }
    #bar{
        display: block;
        font-size: 30px;
        margin-left: 15rem;
    }
    #cancel_bar{
        display: none;
        font-size: 40px;
        margin-left:5rem;
    }
    #logo{
        width: 25%;
    }
  

    .menu ul{
        position: absolute;
        width: 100%;
        
        background-color: rgb(139, 139, 139);
        flex: 1;
        display: block;
        flex-direction: column;
        padding: 0.5px;
        margin-top:16rem;
        /* margin-left:-9%; */
        margin-left: 100%;
       
    }
    .menu ul li{
        padding: 1px;
        list-style: none;
        margin-left: 2rem;
        margin-top: 2;
    
        
       
        
    }
    .menu ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
       font-weight: bold;
    }
    .menu ul li :hover{
        color: #6b7e57;
    }

    .locatio ul{
        display: none;
    }

    .menu_butom ul{
        margin-left: 0rem;
    }
    .left{
        display: none;
    }
    .right{
        position: absolute;
        margin-left: -4rem;
        margin-top: 2rem;
    }
    section{
        flex-direction: column;
        
    }
    .box1{
        width: 300px;
        height: 150px;
        margin-top: 2rem;
    
    }
    .box1 img{
        width:50%;
    }
    .box1 h2{
        font-size: 15px;
        margin-left: 10rem;
        margin-top: -5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .box2{
        width: 300px;
        height: 150px;
        margin-left: 0rem;
        margin-top: 2rem;
       
    
    }
    .box2 img{
        width:50%;
    }
    .box2 h2{
        font-size: 15px;
        margin-left: 10rem;
        margin-top: -5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer{
        width: 70%;
        height: 60vh;
        margin-left: 1rem;
       flex-direction: column;
       
        margin-top: 260rem;
    }
    .social{
        width: 112%;
        height: 60vh;
        margin-left: -5rem;
        margin-top: 80rem;
    }
    .stor{
        width: 100%;
        height: 8vh;
        background-color: #1d3106;
        position: sticky;
        bottom: 0;
    }
    
    .txt h3{
       padding: 10px;
        margin-left: 5rem;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
    }
    
    .txt h2{
        margin-left: 5.6rem;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
}

